@use "./variables.scss" as *;

.advantage-full {
  background-color: $color-card-background;
  color: $color-text-contrast;
}

.advantage-full__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.advantage-full__text {
  max-width: 320px;
  margin: 0 auto;
  padding: 37px 18px;
}

.advantage-full__text .advantage__description {
  br {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .advantage-full {
    &--separator {
      padding-top: 37px;

      .advantage-full__text {
        padding-top: 33px;
        padding-bottom: 40px;
      }

      .advantage-full__text .advantage__title {
        br {
          display: none;
        }
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .advantage-full {
    display: flex;
    flex-direction: row;

    &--right {
      flex-direction: row-reverse;
    }
  }

  .advantage-full__text {
    max-width: 256px;
    padding: 52px 33px 31px;
  }
}

@media (min-width: $desktop-width) {
  .advantage-full__text {
    max-width: 400px;
    padding: 52px 50px 51px;
  }

  .advantage-full__text .advantage__description {
    br {
      display: block;
    }
  }
}
