@use "./variables.scss" as *;

.advantage__title {
  margin: 0;
  margin-bottom: 11px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-title;

  br {
    display: none;
  }
}

.advantage__subtitle {
  display: block;
  margin: 0;
  margin-bottom: 17px;

  color: $color-text;
}

.advantage__description {
  margin: 0;

  color: $color-text;

  br {
    display: none;
  }
}

.advantage {
  &--blue {
    .advantage__title {
      color: $color-text-contrast;
    }

    .advantage__subtitle {
      color: $color-text-contrast;
    }

    .advantage__description {
      color: $color-text-contrast;
    }
  }
}

.advantage__description .advantage__description-break {
  &--tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantage__title {
    margin-bottom: 14px;

    font-size: 21px;

    br {
      display: block;
    }
  }

  .advantage__subtitle {
    margin-bottom: 23px;
  }

  .advantage__description .advantage__description-break {
    &--tablet {
      display: block;
    }
  }
}
