@use "./variables.scss" as *;

.advantage {
  &--blue {
    .advantage__title {
      color: $color-text-contrast;
    }

    .advantage__subtitle {
      color: $color-text-contrast;
    }

    .advantage__description {
      color: $color-text-contrast;
    }
  }
}

.advantage__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-title;
}

.advantage__subtitle {
  color: $color-text;
}

.advantage__description {
  color: $color-text;
}
