@use "./variables.scss" as *;
@use "../mixins.scss" as *;

.features__container {
  margin-right: 18px;
  margin-left: 18px;
}

.features__list {
  @include list-reset;
}

.features__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: $color-title;
}

.features__description {
  text-align: left;
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .features__container {
    margin: 0;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .features__item {
    padding-top: 60px;
    padding-right: 33px;
    padding-bottom: 60px;
    padding-left: 33px;
  }

  .features__title {
    text-align: center;
  }

  .features__description {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding-top: 69px;
    padding-right: 50px;
    padding-bottom: 69px;
    padding-left: 50px;
  }
}
