@use "./variables.scss" as *;
@use "../mixins.scss" as *;

.features__container {
  margin: 23px 18px 46px;
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;
  margin-bottom: 25px;
}

.features__title {
  margin: 0;
  margin-bottom: 16px;
  padding-top: 8px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: $color-title;
}

.features__description {
  margin: 0;

  text-align: left;
  color: $color-text;
}

.features__description-break {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (max-width: $mobile-width-only) {
  .features__container {
    margin-left: 65px;
  }

  .features__icon {
    position: absolute;
    top: 0;
    left: -47px;
  }

  .features__item {
    &--gift {
      .features__icon {
        left: -43px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .features__container {
    margin: 0;
  }

  .features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .features__item {
    margin-bottom: 0;
    padding: 60px 33px 63px;

    &--housing .features__icon {
      height: 72px;
      width: 77px;
    }

    &--food .features__icon {
      height: 68px;
      width: 80px;
    }

    &--gift .features__icon {
      height: 75px;
      width: 66.5px;
    }
  }

  .features__icon {
    margin-bottom: 7px;
    min-height: 75px;
  }

  .features__title {
    margin-bottom: 22px;

    font-size: 21px;
    text-align: center;
  }

  .features__description {
    text-align: center;
  }

  .features__description-break {
    &--tablet {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 69px 50px;
  }

  .features__icon {
    margin-bottom: 10px;
  }

  .features__title {
    margin-bottom: 26px;
  }

  .features__description-break {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
