@use "./variables.scss" as *;

.intro__container {
  margin-right: 18px;
  margin-left: 18px;
}

.intro__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-title;
}

.intro__description {
  color: $color-text;
}

@media (min-width: $tablet-width) {
  .intro__container {
    max-width: 520px;
    margin: 0 auto;
  }
}
