@use "./variables.scss" as *;

.offer__container {
  margin-top: 38px;
  margin-right: 18px;
  margin-bottom: 55px;
  margin-left: 18px;
  padding: 0;
}

.offer__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-title;
}

.offer__description {
  color: $color-text;
}

.offer__link {
  background-color: $color-button;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $color-text-contrast;
}

@media (min-width: $tablet-width) {
  .offer__container {
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 55px;
    margin-left: auto;
  }

  .offer__description {
    max-width: 458px;
    margin: 0 auto;
  }

  .offer__video {
    max-width: 800px;
    margin-top: 66px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
}

@media (min-width: $desktop-width) {
  .offer__container {
    margin-bottom: 66px;
  }

  .offer__video {
    margin-top: 64px;
    margin-right: auto;
    margin-bottom: 84px;
    margin-left: auto;
  }
}
