@use "./variables.scss" as *;

.page {
  background-color: $color-page-background;
}

.page__body {
  max-width: 1200px;
  margin: 0 auto;

  background-color: $color-main-background;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}
