@use "./variables.scss" as *;

.photo__image {
  width: 100%;
}

.photo__title {
  font-weight: 700;
  text-align: left;
  color: $color-title;
}

.photo__author {
  display: block;

  text-align: left;
  text-transform: initial;
  color: $color-text;
}

.photo__like {
  display: block;

  font-weight: 700;
  text-align: left;
  text-transform: initial;
  color: $color-text-black;
}

@media (min-width: $tablet-width) {
  .photo__info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    padding: 22px 27px 15px 20px;

    background-color: $color-photo-background;
  }

  .photo__author {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .photo__like {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .photo {
    &:not(:first-child) {
      &:nth-child(2n+1) {
        .photo__info {
          background-color: $color-photo-secondary-background;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .photo__info {
    position: relative;
    width: 100%;
    margin-top: -107px;
    padding-left: 21px;

    background-color: $color-photo-main-background;
  }

  .photo__title {
    color: $color-text-contrast;
  }

  .photo__author {
    color: $color-text-contrast;
  }

  .photo__like {
    display: flex;
    align-items: flex-end;
    column-gap: 14px;
    color: $color-text-contrast;
  }

  .photo {
    &:not(:first-child) {
      &:nth-child(2n+1) {
        .photo__info {
          background-color: $color-photo-main-background;
        }
      }
    }
  }
}
