@use "./variables.scss" as *;
@use "../mixins.scss" as *;

.photo-list {
  @include list-reset;
}

.photo-list__item {
  padding: 24px 20px 25px;

  border-top: 1px solid $color-border;

  &:last-child {
    border-bottom: 1px solid $color-border;
  }
}

@media (min-width: $tablet-width) {
  .photo-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .photo-list__item {
    padding: 0;
    border: none;

    &:first-child {
      grid-column: 1 / -1;
    }

    &:last-child {
      border: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .photo-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
