@use "./variables.scss" as *;

.review-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-form__item {
  width: 100%;
  margin: 0;
  padding-top: 24px;
  padding-right: 20px;
  padding-bottom: 39px;
  padding-left: 20px;

  border-top: 1px solid $color-border;
  border-right: none;
  border-bottom: none;
  border-left: none;

  text-align: left;

  &--name {
    display: flex;
    flex-direction: column;
  }
}

.review-form__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $color-title;
}

.review-form__label {
  color: $color-text;
}

.review-form__field {
  width: 100%;
  border: none;
  background-color: $color-field-background;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: initial;
  color: $color-text-filed;
}

.review-form__label-radio {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: initial;
  color: $color-text-filed;
}

.review-form__label-checkbox {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: initial;
  color: $color-text-filed;
}

.review-form__required {
  font-size: 12px;
  text-align: right;
  color: $color-text-remark;
}

.review-form__action {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .review-form__item {
    width: 100%;

    &--name,
    &--contact {
      width: 50%;
    }

    &--review {
      max-width: 768px;
      margin: 0 auto;
    }
  }

  .review-form__action {
    flex-direction: row;
    justify-content: space-between;
    max-width: 768px;
    margin: 0 auto;
  }
}
