@use "./variables.scss" as *;
@use "../mixins.scss" as *;

.site-list {
  @include list-reset;
  background-color: $color-button;

  flex-direction: column;
  justify-content: center;
}

.site-list__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-text-contrast;

  border-top: 1px solid $color-menu-shadow-top;
  border-bottom: 1px solid $color-menu-shadow-bottom;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &--current {
    color: $color-text-contrast;
  }
}

.site-list__link {
  display: block;
  padding-top: 17px;
  padding-bottom: 12px;

  color: $color-text-contrast;

  &:hover {
    background-color: $color-menu-hover;
  }

  &:active {
    background-color: $color-menu-down;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: stretch;

    background-color: $color-main-background;

    &::after {
      content: "";
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }

  .site-list__item {
    border: none;
    font-size: 14px;
    line-height: 21px;

    .site-list__link {
      color: $color-text-black;
    }

    &--current {
      .site-list__link {
        color: $color-menu-text-current;
      }
    }
  }

  .site-list__link {
    padding-top: 18px;
    padding-bottom: 17px;

    &:hover {
      background-color: $color-transparent-backgroud;
      color: $color-menu-text-hover;
    }

    &:active {
      background-color: $color-transparent-backgroud;
      color: $color-menu-text-down;
    }
  }
}
