@use "./variables.scss" as *;
@use "../mixins.scss" as *;

.social {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  justify-content: center;
}

.social__link {
  background-color: $color-button;
}
