@use "./variables.scss" as *;

.welcome {
  height: 389px;

  background-image: url("../img/background-canyon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-image-background;
}

.welcome__logo-image {
  position: relative;
  top: 90px;
}
