@use "./variables.scss" as *;

.welcome {
  min-height: 389px;

  background-image: url("../img/background-canyon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-image-background;
}

.welcome__logo-image {
  position: relative;
  top: 90px;
}

@media (min-width: $tablet-width) {
  .welcome__logo-image {
    top: 77px;
  }
}

@media (min-width: $desktop-width) {
  .welcome__logo-image {
    top: 78px;
  }
}
