$color-main-background: #ffffff;

$color-title: #000000;
$color-text: #333333;
$color-text-black: #000000;
$color-text-contrast: #ffffff;

$color-button: #81b3d2;
$color-button-hover: #669ec0;
$color-button-down: #5496bd;
$color-button-disabled: #e5e5e5;

$color-card-background: #81b3d2;
$color-modal-action: #f2f2f2;
$color-border: #e5e5e5;
